/* author: Jonathan Mader */

body {
  background-color: rgb(190, 237, 229);
  padding: 20px;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  width: 49%;
  font-size: 18px;
  font-family: Gill Sans Extrabold, sans-serif;
}
#position{
  font-family: Gill Sans Extrabold, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
}

#location {
  font-family: Gill Sans Extrabold, Verdana, sans-serif;
  width: 49%;
  height: 200px;
  
}

#uploadfield {
  padding: 10px;
  text-align: center;
}

#uploadInfo {
  padding-left: 10px;
  padding-top: 10px
}

.button {
  background-color: #6279cbcb;
  width: 50%;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 32px;
  font-size: 18px;
  border: thin solid rgb(0, 0, 0)
}

#errorMessage {
  text-align: center
}

table {
  border-collapse: collapse;
  margin-right:auto;margin-left:auto;
}

td,
th {
  border: thin solid rgb(0, 0, 0);
  padding: 0.5rem;
  text-align: center;
  width: 300px;
  height: 20px;
  font-size: x-large;
  margin: 1000px auto;
  color: rgb(3, 0, 2);

}
