.card-body{
  color: rgb(0, 0, 0);
}
.card-footer{
  color: rgb(0, 0, 0);
  text-align: center;
}
.social{
  width:200px;
  margin-right: auto;
  margin-left: auto;
}
.social >a{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  font-size:2rem;
  box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px, rgba(255, 255, 255) -3px -3px 6px 1px;
  height:50px;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  text-decoration: none;
  border-radius:5px;
  background: rgb(221, 220, 220);
  transition:0.4s;
  display:flex;
}
.social >a:hover{
  margin-right: auto;
  margin-left: auto;
  transform:translateY(-10px);
  background:lightgreen;
}

.nav-item:hover {
  background-color: lightgrey;
}
.navbar.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}


