/* author: Jonathan Mader */

body {
    background-color: rgb(255, 255, 255);}

h1 {
    color: rgb(2, 2, 2);
    font-family: Gill Sans Extrabold, sans-serif;}
p {
    color: rgb(0, 0, 0);
    width: 50%;
    line-height: 1;
    font-family: Gill Sans Extrabold, sans-serif;}
    
table { 
        border-collapse: collapse;
      }
      td, th {
        border: thin solid rgb(0, 0, 0);
        padding: 0.5rem;
        text-align: center;
        width: 750px;
        height: 70px;
        color: rgb(3, 0, 2);
}
